/* .container {
    width: 896px;
    margin:40px auto 0;
}


.content {
    width: 900px;
    margin-left: auto;
    margin-right:auto ;
    float: left;
    
}

.kapsam{
    display: flex; 
    justify-content: center;
    height: 300px;
    width: 600px;
    margin-left: 150px;

}

.button { */
    /* width: 13%;
    margin-left: 400px; */
    /* width: 17%;
    float:left;
    margin-left: 400px;
    


} */



.main {

     justify-content: center;
     width: 1000px;
     margin-top: 20px;
     margin-left: 150px;
 
}



.text1 {
    margin-left: 670px;
    margin-top: 10px;

}

.button1 {
    width: 350px;
    height: 20px;
    margin-left: 600px;
}

.text2 {

    width: 110px;
    height: 25px;
    margin-left: 665px;
    float: left;
}

.text3 {
    width: 110px;
    height: 25px;
    margin-left: 800px;
    float: left;
}





.box {
    background-color: cadetblue;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    width: 30%;
    height: 100px;
    float: left;
    

}



.text4 {
    margin-left: 00px;
    float: left;
    margin-top: 30px;
    margin-top: 500px;
}

.text5 { 
    margin-left: 100px;
    float: left; 
    width: 90px;
    height: 22px;
    
}

.content {
    float: left;
    width: 1700px;



}
   
    
    